
<h1>Requests</h1>

<table>
<tr>
  <th>Requestor</th>
  <th>State</th>
  <th>Action</th>
  <th>Errors</th>
</tr>
{% for request in requests %}
<tr>
<td>{{ request.user.first_name }} {{ request.user.last_name }} &lt;{{ request.user.email }}&gt;</td>
<td>{{ request.state }}</td>
<td><form action="approve_request" method="post">
{% csrf_token %}
<input name="request_id" value="{{request.id}}" type="hidden"/>
{% if request.state == "submitted" %}
  <input name="action" value="Approve" type="submit"/>
{% endif %}
{% if request.state != "rejected" %}
  <input name="action" value="Cancel" type="submit"/>
{% endif %}
</form></td>
<td>
{% if request.state == "submitted" %}
  {% for gtfs in request.gtfsfile_set.all %}
    {{ gtfs.validation_output }}
  {% endfor %}
{% endif %}
</td>

{% endfor %}
