body {
    margin: 0;
    padding: 0;
    font-size: 1.4 em;
    font-family: 'Lato',sans-serif;
    /*background-image:url('/static/bg.gif');*/
    background: #04165c;
    background-image: url('/static/worldbg.png');
    background-position: center top;
    background-repeat: no-repeat;    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 24px; 
    color: #eee;
    background-image:url('/static/bluebg.png');
    width: 728px;
    height: 56px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

#subheader {
    margin-left: auto;
    margin-right: auto;
    padding: 4px 24px; 
    color: #444;
    background-image:url('/static/graybg.png');
    /*background: #ddd;*/
    width: 728px;
    height: 30px;
    /*font-size: 24px;
    font-weight: bold;*/
}

#subheadtitle {
    float: left;
    width: 500px;
    font-size: 24px;
    font-weight: 900;
}

#subheadlogin {
    margin-left: 520px;
    font-size: 12px;
    text-align: right;
    padding-top: 11px;    
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding: 24px 24px 16px 24px; 
    color: #444;
    background-image:url('/static/whitebg.png');
    width: 728px;
}

#footertop {
    margin-top: 24px;
    width: 776px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    background-image:url('/static/bluebg.png');
}

#footer {
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px 0px 24px; 
    background-image:url('/static/whitebg.png');
    width: 728px;
    height: 90px;
    color: #555;
    font-size: 14px;
}

.infobox {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid red;
}

li {
    margin-bottom: 10px;
}
