<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/otpdeployer.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,900,italic">
    <title>OTP Deployer</title>
</head>

<body>

<div id="header">
<div style="float:left"><a href="/"><img src="/static/deployer.png" border=0 /></a></div>
<div style="float:right; padding-top: 10px;"><a href="http://www.opentripplanner.com"><img src="/static/otplogo_small.png" border=0 /></a></div>

</div>

<div id="subheader">

<div id="subheadtitle">
{% block title %}{% endblock %}
</div>

<div id="subheadlogin">
{% if user.is_authenticated %} 
    Logged in as <b>{{ user.username }}</b> | <a href="/accounts/logout">Log out</a> 
{% else %} 
    Not currently logged in | <a href="/accounts/login">Log in</a> 
{% endif %} 
</div>


</div>

<div id="content">

{% block content %}{% endblock %}
</div>

<div id="footertop"></div>
<div id="footer">

<div style="float:left; width: 400px;">
OTP Deployer is a service of <a href="http://transportation.openplans.org/">OpenPlans</a><br>
For more information, please contact <a href="mailto:opentrip@openplans.org">opentrip@openplans.org</a><br>
&nbsp;<br>
<i>Powered by <a href="https://github.com/openplans/OTPSetup">OTPSetup</a> and <a href="https://www.djangoproject.com/">Django</a></i>
</div>

<div style="margin-left: 540px;">
<a href="http://transportation.openplans.org/"><img src="/static/transport.png" border=0/></a>
</div>

</div>

</body>
</html>

