{% extends "base.html" %}

{% block title %}Create a Deployment Request{% endblock %}

{% block content %}
<form action="/create_request" method="POST">
{% csrf_token %}

  First, you'll create a request, then you'll have a chance to upload your
GTFS files. Keep in mind OpenTripPlanner can combine multiple GTFS feeds into a single 
trip planner.<br/><br/>

  Agency:<br/>
  <input type="text" name="agency" /><br/>

  Comments:<br/>
  <textarea name="comments" rows=6 cols=60></textarea><br/>

  Fare model:<br/>
  <select name="fare_factory">
    <option value="org.opentripplanner.routing.impl.DefaultFareServiceFactory">Default</option>
    <option value="org.opentripplanner.routing.impl.SFBayFareServiceFactory">SF Bay</option>
    <option value="org.opentripplanner.routing.impl.NycFareServiceFactory">NYC</option>
  </select><br/>

  <input type="submit" value="Next >>"><br/>

</form>
{% endblock %}
