{% if uploaded %}
{{ uploaded }} files uploaded so far.<br/>
<form action="/finalize_request" method="POST">
{% csrf_token %}
  <input type="hidden" name="request_id" value="{{request_id}}" />
  <input type="submit" value="Done entering GTFS">
</form>
{% endif %}

<a href="/upload?request_id={{request_id}}">Or upload</a>

<form action="/done_transload" method="post" enctype="multipart/form-data">
{% csrf_token %}
  <input type="hidden" name="request_id" value="{{request_id}}" />

  Gtfs file url:<br/>
  <input type="text" name="transload_url" size="80" /><br/>
  <br /> 
  <input type="submit" value="Upload GTFS"> 
</form> 
