{% if uploaded %}
{{ uploaded }} files uploaded so far.<br/>
<form action="/finalize_request" method="POST">
{% csrf_token %}
  <input type="submit" value="Done uploading">
  <input type="hidden" name="request_id" value="{{request_id}}" />
</form>
{% endif %}

<a href="/transload?request_id={{request_id}}">Or transload</a>

<form action="https://{{ s3_bucket }}.s3.amazonaws.com/" method="post" enctype="multipart/form-data">

  <input type="hidden" name="key" value="{{ upload_filename }}">
  <input type="hidden" name="AWSAccessKeyId" value="{{ aws_access_key_id }}"> 
  <input type="hidden" name="acl" value="private"> 
  <input type="hidden" name="success_action_redirect" value="{{ after_upload_url }}">
  <input type="hidden" name="policy" value="{{ base64_policy }}">
  <input type="hidden" name="signature" value="{{ signature }}">

  Gtfs file to upload: 
  <input name="file" type="file"> 
  <br /> 
  <input type="submit" value="Upload GTFS"><br/>

  <p>This may take a long time to upload, as GTFS files are typically rather large.  Do not click the button a second time.  If you get a timeout, try <a href="/transload">linking to your GTFS instead</a>.</p>

  You will have a chance to upload additional GTFS files once this one
  is uploaded.
</form> 
