{% extends "base.html" %}

{% block title %}Upload a GTFS Feed{% endblock %}

{% block content %}
{% if uploaded %}

<div class='infobox'>

<div style='float: left; width: 450px;'>
<div style='font-size:14px; margin-bottom: 6px;'>You have submitted <b>{{ uploaded }}</b> GTFS feed(s) so far.</div>
<i>If you have no more feeds to	submit, click the "Finished" button to the right. Otherwise, use the form below	to submit additional feeds.</i>
</div>

<div style='margin-left: 470px; height:40px; text-align:right; padding-top: 15px;'>
<form action="/finalize_request" method="POST">
{% csrf_token %}
  <input type="hidden" name="request_id" value="{{request_id}}" />
  <input type="submit" value="Finished Submitting GTFS">
</form>
</div>
<div clear='both'></div>
</div>
{% endif %}


<form action="https://{{ s3_bucket }}.s3.amazonaws.com/" method="post" enctype="multipart/form-data">

  <input type="hidden" name="key" value="{{ upload_filename }}">
  <input type="hidden" name="AWSAccessKeyId" value="{{ aws_access_key_id }}"> 
  <input type="hidden" name="acl" value="private"> 
  <input type="hidden" name="success_action_redirect" value="{{ after_upload_url }}">
  <input type="hidden" name="policy" value="{{ base64_policy }}">
  <input type="hidden" name="signature" value="{{ signature }}">

  <div style='text-align: center; margin-bottom: 20px;'>
  <span style='font-size:16px; font-weight: bold;'>Local GTFS feed to upload:</span><br /> 
  <input name="file" type="file"> 
  <p><input type="submit" value="Upload GTFS"><br/>
  <p><i>If your GTFS feed is already on the web, simply <a href="/transload?request_id={{request_id}}">point us to that</a> instead.</i>
  </div>

  <b>Notes:</b>
  <ul>
  <li>The format of the uploaded file should be a ZIP archive that contains the individual GTFS files (agency.txt, routes.txt, etc.) in the 
top-level directory of the archive.</li>

  <li>The file may take a long time to upload, as GTFS feeds are typically
  rather large.  Do not click the button a second time.  If you get a
  timeout, try <a href="/transload?request_id={{request_id}}">linking
  to your GTFS instead</a>.</li>

  <li>You will have a chance to upload/transload additional GTFS feeds once this one
  is complete.</li>
  </ul>
</form> 
{% endblock %}

